<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebtang.ebtangebook" >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MMTheme.Basic" >
        <activity
            android:name=".view.main.NewMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.registe.RegiteFirstActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.registe.RegiteSecendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.registe.RegiteThreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.registe.RegiteFoutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.registe.RegiteFiveActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.MessageCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.MyYinHaoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.ChongzhiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.MySubscribeBookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.MissionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.ReadHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookinfo.FenleiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookinfo.BookDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookinfo.BookLabelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recomm.RecommDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recomm.RecommAllActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.setting.SettingInfoEditActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.search.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.search.SearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".widget.myWebView.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.scan.ScanFileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.scan.AutoScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookcity.PaiHangActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookcity.UserPaiHangActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookcity.DiscountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.bookcity.FreeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
